 /* Bass notes */

.note-e2 {
  top: 67px;
  left: 170px;

}

    /* lower notes strikethroughs */
.note-e2:before {
    border-bottom: 2px solid;
    color: #454545;
    content: "";
    position: absolute;
    width: 35px;
    right: -27%;
    top: 82%;
}
    /* upper notes strikethroughs */
.note-c4-bass:before,
.note-e4-bass:before,
.note-g4-bass:before {
  border-bottom: 2px solid;
  color: #454545;
  content: "";
  position: absolute;
  width: 35px;
  right: -27%;
  top: 49%;
}
.note-e4-bass:before,
.note-f4-bass:before {
  height: 15px;
  border-top: 2px solid;
}

.note-d4-bass:before,
.note-f4-bass:before,
.note-a4-bass:before {
  border-bottom: 2px solid;
  color: #454545;
  content: "";
  position: absolute;
  width: 35px;
  right: -27%;
  top: 56.5%;
}

.note-g4-bass:after,
.note-a4-bass:after {
  border-bottom: 2px solid;
  color: #454545;
  content: "";
  position: absolute;
  width: 35px;
  right: -27%;
  
  height: 15px;
  border-top: 2px solid;
}
.note-g4-bass:after {
  top: 65.5%;
}
.note-a4-bass:after {
  top: 72.5%;
}

.note-f2 {
  top: 59px;
  left: 200px;
}

.note-g2 {
  top: 50px;
  left: 160px;
}

.note-a2 {
  top: 42px;
  left: 160px;  
}

.note-b2 {
  top: 33px;
  left: 200px;  
}

.note-c3 {
  top: 25px;
  left: 170px;
}

.note-d3 {
  top: 16px;
  left: 160px;  
}

.note-e3 {
  top: 8px;
  left: 160px;  
}

.note-f3 {
  top: -1px;
  left: 160px;  
}

.note-g3 {
  top: -9px;
  left: 160px;  
}

.note-a3 {
  top: -18px;
  left: 160px;  
}

.note-b3 {
  top: -26px;
  left: 160px;  
}

.note-c4-bass {
  top: -35px;
  left: 160px;  
  position: relative;
}

.note-d4-bass {
  top: -43px;
  left: 180px;
}

.note-e4-bass {
  top: -52px;
  left: 180px;
}
.note-f4-bass {
  top: -60px;
  left: 180px;
}

.note-g4-bass {
  top: -69px;
  left: 180px;
}

.note-a4-bass {
  top: -77px;
  left: 180px;
}

/* Treble Notes */

.note-c4 {
  top: 67px;
  left: 170px;

}
.note-c4:before,
.note-a5:before {
    border-bottom: 2px solid;
    color: #454545;
    content: "";
    position: absolute;
    width: 35px;
    right: -27%;
    top: 82%;
}

.note-d4 {
  top: 59px;
  left: 200px;
}

.note-e4 {
  top: 50px;
  left: 160px;
}

.note-f4 {
  top: 42px;
  left: 160px;  
}

.note-g4 {
  top: 33px;
  left: 200px;  
}

.note-a4 {
  top: 25px;
  left: 170px;
}

.note-b4 {
  top: 16px;
  left: 160px;  
}

.note-c5 {
  top: 8px;
  left: 160px;  
}

.note-d5 {
  top: -1px;
  left: 160px;  
}

.note-e5 {
  top: -9px;
  left: 160px;  
}

.note-f5 {
  top: -18px;
  left: 160px;  
}

.note-g5 {
  top: -26px;
  left: 160px;  
}

.note-a5 {
  top: -35px;
  left: 160px;  
  position: relative;
}

/*.note-a5:before {
    border-bottom: 2px solid;
    content: "";
    position: absolute;
    width: 35px;
    right: 0;
    top: 69%;
}*/